.button {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: translate(0, -2px);
  }
}