.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 3rem;

  .header__logo {
    width: clamp(200px, 15vw, 400px);
  }

  .header__nav {
    display: flex;
    gap: 2rem;

    .header__nav-item {
      text-decoration: none;
      font-weight: 600;
      font-size: 1.5rem;
      color: #4d4d4d;

      &:hover {
        color: #161616;
        text-decoration: underline;
      }
    }
  }
}
